<div class="jumbotron">
    <h1>{{monthly.Month | month}}</h1>
    <p>Balance: {{balance | currency}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Amount</th>
                        <th>Classification</th>
                    </tr>
                </thead>
                <tr *ngFor="let classifiedTransaction of classifiedTransactions">
                    <td>{{classifiedTransaction.Date | date}}</td>
                    <td>{{classifiedTransaction.Client}}</td>
                    <td>{{classifiedTransaction.Amount | currency}}</td>
                    <td>{{classifiedTransaction.Classification}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default" *ngFor="let classificationSum of classificationSums">
                <div class="panel-heading">
                    {{classificationSum.Classification}}
                </div>
                <div class="panel-body">
                    {{classificationSum.Sum | currency}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <monthly-doughnut-chart [classificationSums]="classificationSums" [balance]="balance"></monthly-doughnut-chart>
        </div>
    </div>
</div>